<div class="container">
<div class="graph" (click)="addOnClick($event)">
  <img src="assets/2018_Map.jpg" height="650">
  <svg height="650" width="1250">
    <rect
      *ngIf="startPosition.x"
      [attr.x]="startPosition.x" 
      [attr.y]="startPosition.y" 
      [attr.width]="50" 
      [attr.height]="50" 
    />
    <line 
      *ngFor="let line of lines" 
      [attr.x1]="line.x1" 
      [attr.y1]="line.y1"
      [attr.x2]="line.x2"
      [attr.y2]="line.y2"  
    />
  </svg>
</div>
<div class="analysis">
  <div id="input">
    <input type="number" [(value)]=robotSpeed step=0.5 (keyup)="setRobotSpeed($event.target.value)"/>ft/s<br>
    <input type="number" [(value)]=rotationSpeed step=0.5 (keyup)="setRotationSpeed($event.target.value)"/>degrees/s<br>
    <button (click)="update()">Update</button>
  </div>
  <div id="output">
    Total Distance:<br> {{totalDistanceStr}}ft<br><br>
    Total Rotation:<br> {{totalRotationStr}}degrees<br><br>
    Time Required:<br> {{totalTimeStr}}s
  </div>
</div>
